header, footer {
	display: flex;
	background: black;
	color: green;
	padding: 3% 0;
}

header h1, footer h1{
	margin: auto;
	text-align: center;
	font-size: 64px;
}

main{
	display: flex;
}

.menu{
	text-align: center;
	flex: 1;
	padding: 6px;
	width: 30%;
	background: black;
}

.menu #play{
	width: 150px;
	height: 50px;
	border-style: none;
	background-color: red;
	margin: 5px 0 20px 0;
	transition: all 0.5s linear;
}


.menu #play:hover{
	transform: scale(1.01);
	border-style: none;
	background-color: red;
}

.menu #play:active{
	transition: none;
	background-color: white;
	transform: scale(1);
}

.menu p{
	color: white;
	font-size: 30px;
}

.menu #joystick{
	cursor: pointer;
	border: white dotted;
	background: black;
	font-size: .1px;
	margin: 15px 0;
	width: 180px;
	height: 90px;
}

.esteira{
	flex: 1;
	width: 100%;
}

.eixoY{
	transition: all 1s linear;
	display: flex;
	flex-direction: row;
	color: black;
	height: auto;
	flex: 1;
}

.eixoX{
	background: gray;
	transition: all 0.1s ;
	display: table;
	flex: 1;
	margin: 0;
	width: 10px:;
	height: 10px;
}

.menu {
	text-align: center;
}

.menu .tutorial{
	flex: 1;
	color: white;
	font-size: 32px;
}

.menu .tutorial p{
	display: flex;
	padding: 5px;
	flex-direction: row;
}


.menu .tutorial span{
	cursor: unset;
	margin: 8px 0 0 0;
	flex: 1;
	width: 2px;
}

.menu .tutorial input{
	cursor: unset;
	margin: 8px 0 0 0;
	border-style: none;
	flex: 1;
	width: 20px;
	height: 25px;
}